[Unit]
Description=Dependency On Server At Boot
Documentation=man:dosab.sh(8)
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=exec

ExecStart=/usr/sbin/dosab.sh
Restart=no

[Install]
WantedBy=multi-user.target
